.home-background {
    position: relative; 
    background-image: url('../../Components/Assets/fondo_home.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; /* Fija la imagen de fondo */
    height: 170vh; 
    min-height: 100vh; /* Establece una altura mínima del 100% de la altura de la ventana */
    
}

.home-background::before {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.2); /* Color de fondo semitransparente */
}

/* Estilo para el contenido */
.home-content {
    position: relative; /* Asegura que el contenido esté por encima del pseudoelemento */
    z-index: 1; /* Asegura que el contenido esté por encima del pseudoelemento */
    padding: 20px; /* Añade relleno para separar el contenido del borde */
}


/*DISEÑO BASADO EN PUNTOS DE CORTES ESPECIFICO*/
/*PANTALLA 1024PX*/
@media (max-width: 1024px){
    .home-background{
        height: 155vh;
    }
}

/*PANTALLA 500PX*/
@media (max-width: 500px){

    .home-background{
        width: 135%;
    }
}


  
  