.home-background {
    position: relative; /* Necesario para que el pseudoelemento ::before funcione */
    background-image: url('../../Components/Assets/fondo_home.jpg'); /* URL de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    background-attachment: fixed; /* Fija la imagen de fondo */
    height: 150vh; /* Ajusta la altura al tamaño de la ventana del navegador */
    min-height: 100vh; /* Establece una altura mínima del 100% de la altura de la ventana */
    
}

/* Pseudoelemento para crear una capa semitransparente sobre la imagen de fondo */
.home-background::before {
    content: ""; /* Obligatorio para que el pseudoelemento aparezca */
    position: absolute; /* Posiciona el pseudoelemento con respecto al contenedor */
    top: 0; /* Coloca el pseudoelemento en la parte superior del contenedor */
    left: 0; /* Coloca el pseudoelemento en el lado izquierdo del contenedor */
    width: 100%; /* Ancho igual al del contenedor */
    height: 100%; /* Alto igual al del contenedor */
    background-color: rgba(0, 0, 0, 0.2); /* Color de fondo semitransparente */
}

/* Estilo para el contenido */
.home-content {
    position: relative; /* Asegura que el contenido esté por encima del pseudoelemento */
    z-index: 1; /* Asegura que el contenido esté por encima del pseudoelemento */
    padding: 20px; /* Añade relleno para separar el contenido del borde */
}


.home-titulo h1{
    color: #2B0EBE;
    font-size: 60px;
    text-align: center;
}

.home-titulo h2{
    color: #ffff;
    font-size: 40px;
    text-align: center;
}


  
  