/* Estilo para el fondo con imagen fija */
.verdatosusuario-background {
    position: relative;
    background-image: url('../../Components/Assets/fondo_ver_datos.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

/* Pseudoelemento para crear una capa semitransparente sobre la imagen de fondo */
.verdatosusuario-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Color de fondo semitransparente */
    z-index: -1; /* Coloca el pseudoelemento detrás del contenido */
}

/*ESTILO CONTENEDOR*/
.verdatosusuario-content {
    position: relative; /* Asegura que el contenido esté por encima del pseudoelemento */
    z-index: 1; /* Asegura que el contenido esté por encima del pseudoelemento */
    padding: 5px; /* Añade relleno para separar el contenido del borde */
}

.verdatosusuario-content h1 {
    text-align: center;
    color: #2B0EBE;
}

.verdatosusuario-container {
    position: relative; /* Asegura que el contenedor esté posicionado correctamente */
    width: 750px;
    height: 520px;
    background: white; /* Color de fondo semitransparente */
    margin: auto;
    padding: 35px 45px;
}

/*TABLA*/

.verdatosusuario-table {
    width: 100%;
    border: 1px solid white;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
}

.verdatosusuario-caption, td, th {
    padding: 0.3em;
    text-align: center;
}

.th, td {
    border-bottom: 1px solid black;
    width: 25%;
    text-align: center;
}

.caption {
    font-weight: bold;
    font-style: italic;
}

.verdatosusuario-table img {
    max-width: 40px; /* Ajusta el ancho máximo de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    align-items: center;
}
