/* Estilo para el fondo con imagen fija */
.visualizarusuario-background {
    background-image: url('../../Components/Assets/fondo_visualizar_usuario.jpg'); /* URL de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    filter: brightness(100%);
    background-position: center; /* Centra la imagen de fondo */
    background-attachment: fixed; /* Fija la imagen de fondo */
    height: 100vh; /* Ajusta la altura al tamaño de la ventana del navegador */
}

.content h1{
    text-align: center;
    color: #2B0EBE;
}

.visualizarusuario-container{
    width: 750px;
    height: 520px;
    background: white;
    margin: auto;
    padding: 25px 35px;
}

/*TABLA*/

.table {
    border-collapse: collapse;
    width: 100%;
}
  
.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
  
.table th {
    background-color: #f2f2f2;
    text-align: center;
  
}

.table th:hover {
    cursor: pointer;
}

/*BUSCADOR*/
.visualizarusuario-fields{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top: 2px;
}

.visualizarusuario-container input{
    height: 30px;
    width: 60%;
    margin-bottom: 10px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}