.footer {
    display: flex;
    justify-content: space-between; /* Para distribuir uniformemente las columnas horizontalmente */
    background-color: #3D3D3F;
    color: #fff;
    padding: 30px;
  }

  .footer-logo img{
    width: 50%;
    height: 50%;
    margin-top: 25px;
  }
  
  .column {
    flex: 1; /* Para que todas las columnas tengan el mismo ancho */
    margin: 0 10px; /* Añade espacio entre las columnas */
  }
  
  .column h3 {
    margin-bottom: 10px;
  }
  
  .column ul {
    list-style: none;
    padding: 0;
  }
  
  .column ul li {
    margin-bottom: 5px;
  }
  
  .column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .column ul li a:hover {
    text-decoration: underline;
  }
  
  /*LISTA CONTACTOS*/

  .contact-list {
    list-style-type: none;
    padding: 0;
  }
  
  .contact-list li {
    display: flex;
    align-items: center; 
    margin-bottom: 5px; 
  }
  
  .contact-list svg {
    margin-right: 10px; 
  }

  /*DISEÑO BASADO EN PUNTOS DE CORTES ESPECIFICO*/
/*PANTALLA 1280*/
@media (max-width: 1280px){
  
}

@media (max-width: 1024px){
 
  
}


/*PANTALLA 800PX*/
@media (max-width: 800px){
  .footer-logo img{
    width: 90%;
    height: 90%;
    margin-top: 25px;
    
  }

  
}

/*PANTALLA 500PX*/
@media (max-width: 500px){
    .footer{
      width: 123%;
    }

    .footer-logo img{
      width: 100%;
      height: 100%;
      margin-top: 25px;
      
    }
}

