.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    width: 100%;
  }

  .slide img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: 100%; /* Ajusta la altura automáticamente para mantener la proporción */
  }
  
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #2196F3;
    font-size: 24px;
    cursor: pointer;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

  /*DISEÑO BASADO EN PUNTOS DE CORTES ESPECIFICO*/
  /*PANTALLA 800PX*/
  @media (max-width: 800px){
    .slider {
      position: relative;
      width: 100%;
      align-items: center;
      overflow: hidden;
    }
  }
  